<?xml version="1.0" encoding="UTF-8"?>

<SystemModel xmlns="http://rapid.ossys.com"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://rapid.ossys.com http://rapid.ossys.com/systemmodel.xsd"
       key="XXXXXX" api="1">

<DataSource name="Mongo"
      type="MONGODB3"
      host="localhost"
      schema="bigscience"
      port="27017"
      username="bigscience"
      password="password" />

<DataSource name="Neo4J"
     type="NEO4J"
     host="localhost"
     schema="bigscience"
     port="7687"
     username="bigscience"
     password="password" />

<!-- BigScience -->
<Project  name="BigScience"
          buildtool="CONDA"
          basedir="api">

  <Domain name="Mongo"
      src="rapid/model.xml"
      datasource="Mongo"
      language="PYTHON"
      framework="SANIC"
      tester="SANIC" />

  <Domain name="Neo"
    src="rapid/model.xml"
    datasource="Neo4J"
    language="PYTHON"
    framework="SANIC"
    tester="SANIC" />

</Project>

</SystemModel>
