<div class="sidebar" data-color="azure"
    data-image="../assets/img/full-screen-image-3.jpg">
    <!--
            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag
        -->
    <div class="logo">
        <a href="http://www.bigscience.com"
            class="simple-text logo-mini"><i class="pe-7s-science"
            style="font-size: 1.8em"></i></a> <a
            href="http://www.bigscience.com"
            class="simple-text logo-normal"><strong>Big</strong>Science</a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="info">
                <div class="photo">
                    <img src="../assets/img/default-avatar.png" />
                </div>
                <a data-toggle="collapse" href="#collapseExample"
                    class="collapsed"> <span> Tania Andrew <b
                        class="caret"></b>
                </span>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li><a href="#pablo"> <span
                                class="sidebar-mini">MP</span> <span
                                class="sidebar-normal">My Profile</span>
                        </a></li>
                        <li><a href="#pablo"> <span
                                class="sidebar-mini">EP</span> <span
                                class="sidebar-normal">Edit
                                    Profile</span>
                        </a></li>
                        <li><a href="#pablo"> <span
                                class="sidebar-mini">S</span> <span
                                class="sidebar-normal">Settings</span>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li [routerLinkActive]="['active']"><a [routerLink]="['summary']"> <i
                    class="pe-7s-graph"></i>
                    <p>Summary</p>
            </a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['profile']"><i
                    class="pe-7s-user"></i>
                    <p>My Profile</p>
            </a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['data-upload']"><i
                    class="pe-7s-cloud-upload"></i>
                    <p>Data Upload</p>
            </a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['data-explorer']"> <i
                    class="pe-7s-search"></i>
                    <p>Data Explorer</p>
            </a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['analytics']"> <i
                    class="pe-7s-graph2"></i>
                    <p>Analytics</p>
            </a></li>
        </ul>
    </div>
</div>