<div>
    <div class="panel panel-default">
        <div class="panel-body">

            <!-- Standard Form -->
            <div>
                <input type="file" (change)="onFileSelectFormChange($event)" multiple>
            </div>

            <!-- Drop Zone -->
            <h4 class="text-center">Or Drag and Drop Your Files Below</h4>
            <div class="upload-drop-zone" appDnd
            (filesEmitter)="onFilesAdded($event)"
            [allowed_extensions]="['h5', 'hdf', 'hdf5']">
              <i class="pe-7s-download"></i>
            </div>

            <!-- Upload Finished -->
            <div class="js-upload-finished">
                <h3>Processing Files</h3>
                <div *ngFor="let file of processingFiles">
                  <div class="appFile">
                    <div class="appFileTitle clearfix align-middle">
                        {{ file.name | truncate: 32: '...': false }} 
                        ({{ file.size | bytes }})
                        <button class="btn btn-danger btn-fill pull-right"><i class="pe-7s-close-circle"></i></button>
                        <button class="btn btn-primary btn-fill btn-wd pull-right" (click)="upload(file)">Upload</button>
                    </div>
                    <div class="appFileBody">
                        

                        <!-- Progress Bar -->
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                aria-valuenow="0" aria-valuemin="0"
                                aria-valuemax="100" [style.width]="file.processedPercent+'%'">
                                <span class="sr-only">{{ file.processedPercent | number : '1.2-2' }}%</span>
                            </div>
                        </div>
                        <span>Time Remaining: {{ file.processedEstTime | minutes }}</span>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Uploading Files -->
            <div class="js-upload-finished">
                <h3>Uploads</h3>
                <div *ngFor="let file of uploadingFiles">
                  <div class="appFile">
                    <div class="appFileTitle clearfix align-middle">
                        {{ file.name | truncate: 32: '...': false }} 
                        ({{ file.size | bytes }})
                        <button class="btn btn-danger btn-fill pull-right"><i class="pe-7s-close-circle"></i></button>
                        <button class="btn btn-primary btn-fill btn-wd pull-right" (click)="upload(file)">Upload</button>
                    </div>
                    <div class="appFileBody">
                        Extra options
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>