.upload-drop-zone {
 height: 200px;
 border-width: 2px;
 margin-bottom: 20px;
 border-radius: 15px;
}

/* skin.css Style*/
.upload-drop-zone {
 color: #ddd;
 font-size: 10em; border-style : dashed;
 border-color: #ccc;
 line-height: 200px;
 text-align: center;
 border-style: dashed;
}

.upload-drop-zone.drop {
 color: #222;
 border-color: #222;
}

.appFile {
    margin: 0px 0px 8px 0px;
}

.appFileTitle {
    cursor: pointer;
    margin: 0px 0px 10px 0px;
}

.appFileTitle .arrow {
    font-size: 2rem;
    padding: 5px 0px 0px 0px;
    margin: 0px 10px 0px 0px;
}

.appFileTitle .title {
    padding: 10px 0px 0px 0px;
}

.appFileTitle span.complete {
    padding: 10px 0px 0px 0px;
    margin-right: 20px;
    font-weight: bold;
}

.appFileTitle .btn-primary, .appFileTitle .btn-success, .appFileTitle .btn-warning, .appFileTitle .btn-info, .appFileTitle .btn-danger {
    margin-right: 12px;
}

.appFileTitle .btn-danger i {
    font-size: 1.8rem;
    margin: 0px;
}

.appFileBody {
    padding: 15px 0px 10px 0px;
    background-color: #F2F2F2;
}

.appFileBody form span {
    display: inline-block;
    padding: 12px 0px 0px 0px;
}

.progress {
    height: 1rem;
    padding: 0px;
    margin: 0px;
}

.appFileBody input {

}