<div>
    <div class="panel panel-default">
        <div class="panel-body">

            <!-- Standard Form -->
            <div>
                <input type="file" (change)="onFileSelectFormChange($event)" multiple>
            </div>

            <!-- Drop Zone -->
            <h4 class="text-center">Or Drag and Drop Your Files Below</h4>
            <div class="upload-drop-zone" appDnd
            (filesEmitter)="onFilesAdded($event)"
            [allowed_extensions]="['h5', 'hdf', 'hdf5']">
              <i class="pe-7s-download"></i>
            </div>

            <!-- Upload Finished -->
            <div class="js-upload-finished">
                <h3>Processing Files</h3>
                <div *ngFor="let file of processingFiles">
                  <div class="appFile">
                    <div class="appFileTitle align-middle clearfix">
                        <span class="pull-left">{{ file.name | truncate: 64: '...': false }} ({{ file.size | bytes }})</span>
                        <button class="btn btn-danger btn-fill pull-right"><i class="pe-7s-close-circle"></i></button>
                        <button class="btn btn-primary btn-fill btn-wd pull-right" (click)="upload(file)" [disabled]="file.status != appFileModel.Status.VALID">
                            {{ file.status == appFileModel.Status.VALID ? 'Upload File' : 'Processing...' }}
                        </button>
                    </div>
                    <div class="appFileBody">
                        <div class="row">
                            <div class="col-md-4">
                                <div>Processed: x / {{ file.size | bytes }}</div>
                                <div>Remaining: {{ file.processedEstTime | minutes }}</div>
                            </div>
                            <div class="col-md-8">
                                <!-- Progress Bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" [style.width]="file.processedPercent+'%'">
                                    {{ file.processedPercent | number : '1.2-2' }}% Complete
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Uploading Files -->
            <div class="js-upload-finished">
                <h3>Uploads</h3>
                <div *ngFor="let file of uploadingFiles">
                  <div class="appFile">
                    <div class="appFileTitle clearfix align-middle">
                        {{ file.name | truncate: 32: '...': false }} 
                        ({{ file.size | bytes }})
                        <button class="btn btn-danger btn-fill pull-right"><i class="pe-7s-close-circle"></i></button>
                        <button class="btn btn-primary btn-fill btn-wd pull-right" (click)="upload(file)">Upload</button>
                    </div>
                    <div class="appFileBody">
                        Extra options
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
